/* @768px */
@media (min-width: 768px) {
.card-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 270px;
}

.edited-align-bottom {
  bottom: 0;
  padding-right: 15px;
}

.subscription-image {
  bottom: 10px;
  width: 220px;
  left: 20px;
}

.edited-text {
    align-self: flex-start;
}

.text-bott {
    padding: 0;
    text-align: start;
}

.text-md {
  width: 60vw;
  font-size: 20px
}

}