* {
  padding: 0;
  margin: 0;
}

.bg-red {
  background-color: #f72210;
}

.card-body a {
  text-decoration: none;
}

.h-15 {
  height: 75px;
}

.img-anchor {
  background-color: #f0eaea;
  bottom: 0;
  font-weight: 900;
  padding: 1% 2%;
  position: absolute;
}

.text-dark {
  font-family: sans-serif;
  font-size: 1.1rem;
  font-weight: 900;
}